@charset "UTF-8";

html {
    font-size: 100%;
  }
  body {
    color: #383e45;
    font-size: 0.9rem;
  }
  a {
    text-decoration: none;
  }
  img {
    max-width: 100%;
  }
  li {
    list-style: none;
  }
  .site-title {
    width: 120px;
    line-height: 1px;
    padding: 10px 0;
  }
  .site-title a {
    display: block;
  }
  .section-title {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 60px;
    border-bottom: solid 1px #383e45;
  }
  .content-title {
    font-size: 1rem;
    margin: 10px 0;
  }
  .wrapper {
    max-width: 960px;
    margin: 0 auto 100px auto;
    padding: 0 4%;
    text-align: center;
  }

/*-ヘッダー-*/

#header {
    display: flex;  /*h1とnavを横並びにします*/
    justify-content: space-between; /*両端揃え*/
    align-items: center;    /*高さの中央揃え*/
    margin: 0 auto;
}
#header ul {
    display: flex;
    padding: 10px 0;    /*liタグを横並びへ*/
}
#header li {
    margin-left: 30px;
}
#header li button {
    color:ivory;
}
#header li button:hover {
    opacity: 0.8;   /*マウスオーバー時の透過*/
}

/*-Main visual-*/

#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
}

/*-About-*/


#about img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    margin-right: 30px;
}
#about .text {
    text-align: left;
}

/*-cat-*/

#cat ul {
    display: flex;
    justify-content: space-between;
}
#cat li {
    width: 32%;
}

#footer {
    font-size: 0.5rem;
    padding: 10px 0;
    text-align: center;
}

/*-padding-inline-start: 40pxの無効化-*/

.word {
    inset-inline-start: 0px;
}

/*-sp-*/

@media screen and (max-width:600px) {

    #mainvisual img {
        height: calc(100vh - 60px);
    }
    #about .content {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
    } 
    #cat ul {
        flex-direction: column;
    }
    #cat li {
        width: 100%;
        margin-bottom: 30px;
    }
}

/*-アニメーション*/


button {
    display: inline-block;
    position: relative;
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height: 32px;
    font-size: 14px;
  
  }
  button:active {
    box-shadow: 0 3px 0 #1D9AF2;
    top: 3px;
  }
  @-cat-keyframes bounceIn {
    0% {
      -webkit-transform: scale(0.3);
      opacity: 0; }
    40% {
      -webkit-transform: scale(1.1);
      opacity: 0.9; }
    80% {
      -webkit-transform: scale(0.8);
      opacity: 1; }
    100% {
      -webkit-transform: scale(1);
      opacity: 1; } 
    }
